<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429901131285-mpjvpbj4a79mqu09aqe12r3k0de42l11.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429901131285-mpjvpbj4a79mqu09aqe12r3k0de42l11</string>
	<key>API_KEY</key>
	<string>AIzaSyDW3D-W3_sr6sfoFB8jACR88FbgMaBRuVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>429901131285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-2b817</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-2b817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429901131285:ios:dcedec012bb8dd6a8f681c</string>
</dict>
</plist>